:root {
    font-family: "RobotoMono", monospace;
}



body {
    display: block; 
    margin: 0px; 
}

nav {

    display:grid;
    grid-auto-flow: column;
    background-color: #1D3F5C;
    border: 2px solid black;


}

.navelement {
    padding-left: 15px;
    padding-right: 15px; 
    color: #AFB7F7;
    height: 60px; 

}

#nav-link {
    color: #AFB7F7; 
    text-decoration: none;
    transition: ease-in;
}

.navphoto {
    margin-top: 0px;
    height: 40px; 
    transition: ease-in; 
}



#nav-link:hover {
    color: #92E5C6; 
}