main {
    background-color: #577F9C;
    display: flex;
    align-content: center;
    justify-content: center;
}


nav {
    background-color: #1D3F5C;
}

.navelement {
    color: #AFB7F7;
}



canvas {
    margin: 20px; 
    border: 2px solid black; 
    align-content: center;
}