:root {
    font-family: "RobotoMono", monospace;
}



body {

    margin: 0px; 
    background-color: #577F9C;
}


main {
    display: flex; 
    align-content: center; 
    justify-content: center;
    height: 500px; 
    width: 100%; 
}

canvas {
    margin: 20px; 
    border: 2px solid black; 
    align-content: center;
    background-color: #92E5C6;
}